@import "base"
@import "compass/css3/border-radius"

body
  background-color: #F5F5F5

body
  > .navbar
    .brand
      float: left
      .usa
        color: #5284C2
      .search
        color: #FF9232
    #search-form
      margin: 5px 0
    #search-query
      @include border-left-radius(0)
      width: 380px
    #search-button
      @include border-right-radius
      background: #5284C2 url(http://search.usa.gov/images/search_button.png) no-repeat center center
      border: 0
      height: 30px
      padding: 0
      text-indent: -100000px
      width: 30px
    .login
      float: right

#get-started, #logo, #main-container
  padding: 0 35px

.banner
  margin: 0 auto
  padding: 0 30px
  text-align: center
  img
    margin:
      top: 10px
      bottom: 10px

.article
  background-color: #FFF
  border: 1px solid #F5F5F5
  margin: 0 auto 20px
  padding: 20px 30px
  @include border-radius
  .time
    margin-bottom: 10px
    a
      color: #999
  .tags
    margin-top: 20px

.footer
  background-color: #E9E9E9
  margin-top: 20px
  padding: 20px 0 0
  text-align: center