@import "base"
@import "compass/css3/border-radius"

body
  background-color: #F5F5F5

h1,
h2,
h3
  line-height: 33px

h1
  font-size: 31.5px
h2
  font-size: 26.5px
h3
  font-size: 21.5px

body
  > .navbar
    .brand
      float: left
      .usa
        color: #5284C2
      .search
        color: #FF9232
    #search-form
      margin: 5px 0
    #search-query
      @include border-left-radius(0)
      width: 370px
    #search-button
      @include border-right-radius
      background:
        color: #5284C2
        image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAABIqAAASKgBcJlUoAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNAay06AAAAF4SURBVDiNpdSxS1ZhFMfxc13K8F2MkJcoyMGGSIIUImhrdHQIIhpcG1z9E9rqX7CGBglaInBxkMKENISQQoKgCKRCBy219+Pw3uDxeu/DG/6m+9zzO9/nnOee+0TUCFNY1dU2nmC0zpsVbmIeO46qg294iP5eYff1plWcbeIUJWw8It4m77ci4mlEvIuIVkRMRMTtJL5YFMWtXHULSQXLOF/juYu/ie9ertW90vQT5zIbzyTApSbT+8T0uLGNrvcMfpXe33Vn2RcR6Tgs54BFUexExKdyeSoihuqAu8m6lQOWGkie945FMZe0/CpHwmUclN5NnK4zXSs/xj9NZoDziW82t/OjxHiAabSS+BW8rAz4jRywhY+VhE28rkxBqjcYzEHbWGpIbtKazNxGp9Mp8AAr2E8Sf+AZ7uB7BbqOdiM0qfgCxnDV0fMcwdcKdEPN79qzMIwvFegHXD8J9CI+V6DHB/0/oW3d2wn+4PmJgCX0ku6IvUDfIZYBby3WKCrJAAAAAElFTkSuQmCC')
        repeat: no-repeat
        position: center center
      *background-image: url(https://9fddeb862c037f6d2190-f1564c64756a8cfee25b6b19953b1d23.ssl.cf2.rackcdn.com/search_button.png)
      border: 0
      height: 30px
      padding: 0
      text-indent: -100000px
      width: 30px
    .login
      float: right

#get-started, #logo, #main-container
  padding: 0 35px

.banner
  margin: 0 auto
  padding: 0 30px
  text-align: center
  img
    margin:
      top: 10px
      bottom: 10px

.article
  background-color: #FFF
  border: 1px solid #F5F5F5
  margin: 0 auto 20px
  padding: 20px 30px
  @include border-radius
  .time
    margin-bottom: 10px
    span, a
      color: #999
  .tags
    margin-top: 20px

.footer
  background-color: #E9E9E9
  margin-top: 20px
  padding: 20px 0 0
  text-align: center
