@import "base"
@import "mixins"
@import "compass/css3/border-radius"

body
  background-color: #F5F5F5
  font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size: 16px
  padding-top: 60px

h1,
h2,
h3
  line-height: 33px

h1
  font-size: 31.5px
h2
  font-size: 26.5px
h3
  font-size: 21.5px

a
  color: #0088cc

body
  > .navbar
    .brand
      float: left
      padding: 10px 15px
      .gov
        font-style: italic
    #search-form
      margin: 5px 0
    #search-query      
      width: 320px
    #search-button      
      background:
        color: #5284C2        
      *background-image: url(https://9fddeb862c037f6d2190-f1564c64756a8cfee25b6b19953b1d23.ssl.cf2.rackcdn.com/search_button.png)
      border: 0
      height: 30px
      padding: 0
      text-indent: -100000px
      width: 30px
    .login
      float: right

#get-started, #logo, #main-container
  padding: 0 35px

.banner
  margin: 0 30 auto
  text-align: center
  img
    margin:
      top: 10px
      bottom: 10px

.article
  background-color: #FFF
  border: 1px solid #F5F5F5
  @include border-radius

  .time
    margin-bottom: 10px
    span, a
      color: #999
  .tags
    margin-top: 20px

.footer
  background-color: #E9E9E9
  margin-top: 20px
  padding: 20px 0 0
  text-align: center

.feature
  h1
    text-align: center

  .signup-wrapper
    padding: 20px 0
    text-align: center

  h2
    margin: 20px 25px 10px

  > blockquote
    margin: 20px 40px
  > p
    margin: 20px 40px 10px
  > p + p
    margin-top: 0
  ul
    margin: 20px 55px

.feature-image
  h2
    font-size: 16px
    line-height: 18px
    margin: 25px 25px 15px
    text-align: center
  img
    padding: 0
    border: 1px solid #ccc
    border: 1px solid rgba(0, 0, 0, 0.2)
    background-color: #fff
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)

  a.image-link
    display: block
    margin: 4px 100px

.icon-external-link
  span
    @extend .visuallyhidden

.caution
  background-color: #fffbd9
  border-left-color: #ffef70