<head>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  {% if page.metatags %} <meta name="robots" content="{{page.metatags}}">{% endif %}
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700" media="screen" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" media="screen" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" media="screen" rel="stylesheet" type="text/css" />
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css">
  <![endif]-->

  <!--<link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">-->
  <link href="/stylesheets/custom.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="/javascripts/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <!--  <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
  <link rel="shortcut icon" href="https://d3qcdigd1fhos0.cloudfront.net/blog/img/favicon.ico">
  <link rel='alternate' type='application/atom+xml' title='search.gov Atom feed' href='/all.atom' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/bootstrap3-typeahead.js"></script>
 
 <!-- Back Soon! — https://github.com/GSA/back-soon -->
 <script type="text/javascript">
 
   url = "search.gov";
 
   msg="<p><strong><span>Due to a lapse in government funding</span>, the "+url+" site and regular customer support will be unavailable until further notice.</strong> The Search.gov search system will remain operational and maintained.</p><p class='bs_usa'>Updates regarding government operating status and resumption of normal operations can be found at <a href='https://usa.gov' title='https://usa.gov'>usa.gov</a>.</p>",window.onload=function(){document.body.innerHTML+="<div id='bs'><div>"+msg+"<a href='#' title='Close' id='bs_close'>Continue to "+url+" »</a></div></div>"},document.onclick=function(n){"bs"!=n.target.id&&"bs_close"!=n.target.id||(bs.style.display="none")};</script>
 <style media="screen">#bs{background:#000;opacity:.8;width:100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0}#bs div{position:absolute;top:1.5em;left:0;right:0;margin:0 auto;padding:2em 2em 2.5em;background:#fff;width:90%;box-sizing:border-box;color:#000;font-family:Helvetica,Arial,sans-serif}#bs span{background:#FFC116}#bs a{color:blue}#bs_close{margin-top:15px;padding:10px 15px;border:2px solid blue;display:inline-block;font-weight:700}#bs p{margin-top:0;font-size:24px;line-height:30px}#bs .bs_usa{font-size:18px;line-height:24px}@media only screen and (min-width: 600px){#bs div{padding:2.5em 2.5em 3em;top:5em;width:600px}}</style>
 </head>
