<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="search">Search.gov</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left form-search" accept-charset="UTF-8" action="https://find.search.gov/search/" id="search-form" method="get">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <input name="affiliate" id="affiliate" type="hidden" value="usasearch">
        <div class="input-group input-append">
          <label for="search-query" class="hide">Query</label>

          <input name="query" autocomplete="off"  type="text" class="typeahead form-control search-query" id="search-query" data-provide="typeahead" >
          <span class="input-group-btn">
            <button type="submit" class="btn btn-nav" aria-label="Left Align" id="search-button">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </form>
      <div class="nav navbar-right">
          <a href="https://search.usa.gov/sites" class="navbar-brand"><i
              class="icon-user icon-white"></i>&nbsp;Login</a>
      </div>&nbsp;&nbsp;&nbsp;<div class="nav navbar-right">
          <a href="http://search.usa.gov/signup" class="navbar-brand">Sign up</a>
      </div>&nbsp;&nbsp;&nbsp;<div class="nav navbar-right">
          <a href="https://search.gov/status.html" class="navbar-brand">System Status</a>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-md-offset-2 col-md-8  hidden-sm hidden-md hidden-lg">

  <form class="form-search" accept-charset="UTF-8" action="https://find.search.gov/search/" id="search-form" method="get">
    <input name="affiliate" id="affiliate" type="hidden" value="usasearch">
    <div class="input-group input-append">
      <label for="search-query" class="hide">Query</label>

      <input name="query" autocomplete="off"  type="text" class=" form-control search-query" id="search-query"  >
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" aria-label="Left Align" id="search-button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </form>
</div>
