<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><span class="usa">USA</span><span class="search">Search</span></a>
      <ul class="nav">
        <li><a href="/help-desk.html">How It Works</a></li>
        <li><a href="/customers.html">Our Customers</a></li>        
      </ul>
      <ul class="nav">
        <li>
          <form class="form-search" accept-charset="UTF-8" action="http://search.howto.gov/search/news/" id="search-form" method="get">
            <input id="affiliate" name="affiliate" type="hidden" value="usasearch"/>
            <input type="hidden" name="channel" value="968">
            <input type="hidden" name="sort_by" value="r">
            <div class="input-append">
              <label for="search-query" class="hide">Query</label>
              <input name="query" type="text" autocomplete="off"
                     class="usagov-search-autocomplete span search-query" id="search-query"/>
              <input type="submit" class="btn" id="search-button" value="Search" />
            </div>
          </form>
        </li>
      </ul>
      <ul class="nav login">
        <li>
          <a href="https://search.usa.gov/sites"><i
              class="icon-user icon-white"></i>&nbsp;Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
